{% extends "template.html" %}

{% block content%}
<br />
<br />
<br />
<br />
<br />
<section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p>What they're saying about us</p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               I want to thank you for working with me over the last 28 years and for your help with the three moves we made as we expanded. Your assistance in the planning, purchasing, installing and implementing of production lines for the production of Mexican food products speaks highly for your insight and understanding of production processes and as well as your ability to be a quick study! 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Weidong Xiong</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export time, however, I was for the evils of the evils that I was going to be angry with the effort that I was going to be the one who was the one who was going to be the one who wanted to be.
                  I had the design I wanted to make thought up, and I knew I wanted to incorporate pearls into the designs, but how?  Designing is only part of the process, the real challenge is making that design to fit my picky aesthetic and to be durable.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              During each of these projects you have provided me with excellent advice and consulting services regarding site selection, store design, food service equipment selection, permit expediting, and construction management.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Sravan</h3>
            <h4>Store Owner</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Your knowledge of and experience with the complicated permitting process, historical preservation of existing building, architectural review board requirements and code and inspection requirements for foodservice facilities in New York have been extremely valuable to our company over the past ten years.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Calvin Raj</h3>
            <h4>Freelancer</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I had the privilege to work with Sravan on the food service brand refresh initiatives for his family’s business – Lobster favourites. Sravan led the discovery phase, brand positioning and developed the brand concept book. His creativity and ability to understand our customer base quickly was admirable.  Warren also developed our ingenious, unique and chosen brand descriptor. Sravan’s overall kind and infectious demeanor was truly a pleasure to work with.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>Bhavana Rao</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
{% endblock%}