{% extends "template.html" %}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<section class="res-menu">
    <div class="container text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <!-- Gallery -->
        
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img
                    src="/static/images/food-1.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Veg Biryani"
                />
            
                <img
                    src="/static/images/food-2.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Paneer chilli"
                />
                <img
                src="/static/images/food-7.jpeg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Jira Rice"
            />
                </div>
            
                <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                    src="/static/images/food-3.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Dal Tadka"
                />
            
                <img
                    src="/static/images/food-8.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Masala Papad"
                />
                <img
                    src="/static/images/food-4.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Tandori Roti"
                />
                </div>
            
                <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                    src="/static/images/food-5.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Noodles"
                />
            
                <img
                    src="/static/images/food-6.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Panner butter masala"
                />
               
                <img
                    src="/static/images/food-9.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="French Fries"
                />
                </div>
            <!-- Gallery -->
        </div>
    </div>
</section>
{% endblock %}