{% extends "template.html" %}

{% block content%}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
					<table class="table text-white ">
						<thead>
							<tr>
								<th>ID</th>
								<th>Icon</th>
								<th>Food</th>
								<th>price</th>
								<th>Description of Item</th>
							</tr>
						</thead>
						<tbody class="align-middle">
							{% for detail in data %}
							<tr>
								<td>{{ loop.index }}</td>
								<td><img src="/static/{{ detail[3] }}" class="menu-img"></td>
								<td>{{ detail[1] }}</td>
								<td>{{ detail[2] }}</td>
								<td><a href="/res/add_cart?name={{ detail[1] }}" class="btn btn-danger">Details</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
{% endblock%}